body {
  padding-top: 50px;
  background-color: #fafafa; 
	-webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}